<div>

  <div class="row">
    <div class="col-12 col-md-3 d-flex flex-column justify-content-between">
      <div class="indicator-wrapper">
        <app-indicator-custom-sample
          [size]="'large'"
          [name]="'Machine #1'"
          [group]="'Machine Group #1'"
          [callout]="'69%'"
          [details]="['Start: 20210420 11:11AM', 'End: 20210420 11:11AM']"
          [status]="'error'"
        ></app-indicator-custom-sample>
      </div>

      <div class="indicator-wrapper">
        <app-indicator-custom-sample
          [size]="'large'"
          [name]="'Machine #1'"
          [group]="'Machine Group #1'"
          [callout]="'69%'"
          [details]="['Start: 20210420 11:11AM', 'End: 20210420 11:11AM']"
          [status]="'error'"
        ></app-indicator-custom-sample>
      </div>
    </div>
    <div class="col-12 col-md-9 mt-4 mt-lg-0">
      <section class="chart">
        <kendo-chart class=" vh-lg-60 vh-xl-40">
          <kendo-chart-title
            [font]="chartConfig.mainTitleFont"
            [align]="'left'"
            text="Sales Figure"
          ></kendo-chart-title>
          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item
              [categories]="['Q1', 'Q2', 'Q3', 'Q4']"
              [title]="{ text: 'Quarter', font: chartConfig.axisTitleFont}"
              [labels]="{font: chartConfig.axisLabelFont}"
              [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
              [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"
            >
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>

          <kendo-chart-value-axis>
            <kendo-chart-value-axis-item
              [title]="{ text: 'Y-Axis Label',  font: chartConfig.axisTitleFont }"
              [labels]="{ font: chartConfig.axisLabelFont}"
              [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
              [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"

            >
            </kendo-chart-value-axis-item>

          </kendo-chart-value-axis>

          <kendo-chart-series>
            <kendo-chart-series-item
              type="column"
              [stack]="true"
              [data]="[100, 200, 300, 300]"
            >
            </kendo-chart-series-item>

            <kendo-chart-series-item type="column" [data]="[100, 100, 100, 100]">
            </kendo-chart-series-item>
            <kendo-chart-series-item type="column" [data]="[100, 100, 100, 100]">
            </kendo-chart-series-item>
            <kendo-chart-series-item type="line" [data]="[300,400,500,500]">
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>
      </section>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-lg-6">
      <section class="chart">
        <kendo-chart [title]="{ text: 'World Population by Broad Age Groups', margin: {bottom: 50}, font: chartConfig.mainTitleFont, align: 'left'}"
                     class=" vh-lg-30 vh-xl-30">
          <kendo-chart-legend position="bottom"></kendo-chart-legend>
          <kendo-chart-series>
            <kendo-chart-series-item
              type="pie"
              [data]="pieData"
              field="value"
              categoryField="category"
              [labels]="{ visible: true, content: labelContent, font: chartConfig.axisLabelFont }"
            >
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>
      </section>
    </div>
    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
      <section class="chart">
        <kendo-chart class=" vh-lg-30 vh-xl-30">
          <kendo-chart-title text="Units sold"
                             [font]="chartConfig.mainTitleFont"
                             [align]="'left'">
          </kendo-chart-title>
          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item
              [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
              [title]="{ text: 'Month', font: chartConfig.axisTitleFont}"
              [labels]="{font: chartConfig.axisLabelFont}"
              [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
              [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"
            >
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>


          <kendo-chart-value-axis>
             <kendo-chart-value-axis-item
              [title]="{ text: 'Y-Axis Label',  font: chartConfig.axisTitleFont }"
              [labels]="{ font: chartConfig.axisLabelFont}"
              [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
              [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"

            >
            </kendo-chart-value-axis-item>
          </kendo-chart-value-axis>

          <kendo-chart-series>
            <kendo-chart-series-item
              type="area"
              [data]="[123, 276, 310, 212, 240, 156, 98]"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
              type="area"
              [data]="[165, 210, 287, 144, 190, 167, 212]"
            >
            </kendo-chart-series-item>
            <kendo-chart-series-item
              type="area"
              [data]="[56, 140, 195, 46, 123, 78, 95]"
            >
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>
      </section>
    </div>
  </div>
</div>

