<div class="Notifications" (clickOutside)="onClick('none')">
  <button
    class="Notifications__button"
    kendoButton
    look="flat"
    #notificationsAnchor
    (click)="onClick('notifications')"
  >
    <kendo-icon [name]="'bell'"></kendo-icon>
    <kendo-badge
      shape="dot"
      themeColor="error"
      *ngIf="notifications?.length > 0"
    ></kendo-badge>
  </button>
  <!-- Popup possible when notifications available. -->
  <kendo-popup
    class="Notifications__popup"
    [anchor]="notificationsAnchor"
    *ngIf="currentMenu === 'notifications' && notifications?.length > 0"
  >
    <kendo-card width="auto" class="Notifications__card">
      <kendo-card-body class="Notification" *ngFor="let n of notifications">
        <!-- ngStyle used here as the color is dynamic depending on data response. Inline style should be considered sparingly. -->
        <span
          class="Notification__indicator"
          [ngStyle]="{ background: assignColor(n.status) }"
        ></span>
        <p class="Notification__content">{{ n.content }}</p>
        <div class="Notification__action" (click)="onNotificationClick(n.id)">
          <kendo-icon [name]="'check'"></kendo-icon>
        </div>
      </kendo-card-body>
    </kendo-card>
  </kendo-popup>
</div>
